.landing-container[data-v-fa0a68e4]{text-align:center;margin-top:80px}button[data-v-fa0a68e4]{margin:10px;padding:10px 20px;background:#2d8cf0;color:#fff;border:none;border-radius:4px;cursor:pointer}
